.vscode/
.vs/
server/logs/
server/userdata/
server/garrysmod/cache/
server/depotcache/
server/steam_cache/
server/garrysmod/data/ulx_logs/
server/garrysmod/downloadlists/
server/garrysmod/download/
server/config/config.vdf
server/garrysmod/clientside_errors.txt
server/garrysmod/data/ulib/users.txt
server/garrysmod/map.pack
server/garrysmod/modelsounds.cache
server/garrysmod/sv.db
server/garrysmod/cfg/mount.cfg
server/garrysmod/cfg/server.vdf
server/garrysmod/cfg/fastdlsetup.cfg
server/garrysmod/data/mapvote/recentmaps.txt
*.ain
*.ztmp
*.lst
*.pyc
*.bz2
server/platform/config/DedicatedServerDialogConfig.vdf
server/platform/config/Server.vdf
/server/chart/node_modules
server/chart/package-lock.json
server/garrysmod/console.log
