CSGO/
TF2/
.vscode/
GMod/logs/
GMod/userdata/
GMod/garrysmod/data/ulx_logs
GMod/depotcache/
GMod/steam_cache/
updatecsgo.bat
updatetf2.bat
updatecsgo.txt
updatetf2.txt
GMod/garrysmod/cfg/mount.cfg
GMod/config/config.vdf
GMod/garrysmod/clientside_errors.txt
GMod/garrysmod/data/ulib/users.txt
GMod/garrysmod/map.pack
GMod/garrysmod/modelsounds.cache
GMod/garrysmod/sv.db
GMod/steam_cache/appworkshop_4000.acf
