CSGO/
TF2/
.vscode/
.vs/
GMod/logs/
GMod/userdata/
GMod/garrysmod/cache/
GMod/depotcache/
GMod/steam_cache/
GMod/garrysmod/data/ulx_logs/
GMod/garrysmod/downloadlists/
GMod/config/config.vdf
GMod/garrysmod/clientside_errors.txt
GMod/garrysmod/data/ulib/users.txt
GMod/garrysmod/map.pack
GMod/garrysmod/modelsounds.cache
GMod/garrysmod/sv.db
GMod/garrysmod/cfg/mount.cfg
GMod/garrysmod/cfg/server.vdf
updatecsgo.bat
updatetf2.bat
updatecsgo.txt
updatetf2.txt
*.ain
*.ztmp
*.lst
*.pyc

